<!DOCTYPE html>
<html>
<head>
  <title>Dude</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  var score = <%= defined?(@score) ? @score : 99 %>;
</script>
<p>[here is the same header on all pages]</p>
<hr>
<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
<hr>
<p>[here is the same footer on all pages]</p>
<%= link_to "Start over", root_path %>
</body>
</html>
