<!DOCTYPE html>
<html>
<head>
  <title>GenderQuest</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
</head>
<body>
<% list = (1..14).to_a %>
<%= render 'layouts/pictures', list: list[0..7] %>
<main class="container">
  <br><br><br>&nbsp;
  <div id="flash-messages">
    <%= render 'layouts/flash_messages' %>
  </div>

  <div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
  <hr>
  <div class="footer-menu">
    <%= link_to "Start Over", root_path, data: { confirm: "Start Gender Quest over from the beginning?" } unless (controller_name == "nodes" and action_name == "index") %>
    <%= link_to "Credits", node_path("credits") %>
    <%= link_to "Contact", "mailto:genderquest@charlottepalmer.com?subject=Gender Quest" %>
  </div>
  <div class="social-container">
    <div class="links">
      <a href="#" title="Share on Facebook" data-type="facebook" data-url="http://genderquest.herokuapp.com" data-title="Gender Quest." data-description="A seventh grader at Menlo School made this 'choose your own adventure' style site about gender bias." class="prettySocial fa fa-facebook"></a>
      <a href="#" title="Share on Twitter" data-type="twitter" data-url="http://genderquest.herokuapp.com" data-description="A seventh grader at Menlo School made this 'choose your own adventure' style site about gender bias." class="prettySocial fa fa-twitter"></a>
      <a href="mailto:?subject=gender bias&body=%0D%0AA seventh grader at Menlo School made this 'choose your own adventure' style site about gender bias:%0D%0A%0D%0Ahttp://genderquest.herokuapp.com/%0D%0A%0D%0A" title="Share via Email" class="fa fa-envelope"></a>
    </div>
    <script type="text/javascript" class="source">
      $('.prettySocial').prettySocial();
    </script>
  </div>
</main>
<%= render 'layouts/pictures', list: list[7..14] %>
</body>
</html>
