<script>
  var score = <%= defined?(@score) ? @score : 0 %>;
  var chain = JSON.parse('<%= raw(@chain.to_json) %>');
</script>

<% content_for :content do %>
    <% if Rails.env.development? %>
        <div class="debug" %>
          <div id="scores">Score: <%= @score %></div>
          <div id="chain">Chain: <%= @chain %></div>
        </div>
        <hr>
    <% end %>
    <div class="node-markdown">
      <%= yield %>
    </div>
<% end %>
<%= render template: "layouts/application" %>