<script>
  var score = <%= defined?(@score) ? @score : 0 %>;
  var chain = JSON.parse('<%= raw(@chain.to_json) %>');
</script>

<% content_for :content do %>
    <% if true or Rails.env.development? %>
        <% if action_name != "index" %>
            <br>
            <div class="score" %>
              <div id="scores">Melody's empowerment score: <%= @score %> </div>
              <!--<div id="chain">Chain: <%#= @chain %></div>-->
            </div>
            <br>
        <% end %>
    <% end %>
    <div class="node-markdown">
      <%= yield %>
    </div>
    <br>
    <br>
<% end %>
<%= render template: "layouts/application" %>