<script>
  var score = <%= defined?(@score) ? @score : 0 %>;
  var chain = JSON.parse('<%= raw(@chain.to_json) %>');
</script>

<% content_for :content do %>
    <div id="scores">Score: <%= @score %></div
    <div id="chain">Chain: <%= @chain %></div>
    <hr>
    <br><br>
    <div class="node-markdown">
      <%= yield %>
    </div>
    <br><br>
<% end %>
<%= render template: "layouts/application" %>