<script>
  var score = <%= defined?(@score) ? @score : 0 %>;
  var chain = JSON.parse('<%= raw(@chain.to_json) %>');
</script>

<% content_for :content do %>
    <div class="node-markdown">
      <%= yield %>
    </div>
    <% if true or Rails.env.development? %>
        <hr>
        <div class="debug" %>
          <div id="scores">Empowerment score: <%= @score %></div>
          <!--<div id="chain">Chain: <%#= @chain %></div>-->
        </div>
        <hr>
    <% end %>
<% end %>
<%= render template: "layouts/application" %>